.hiddenRecsDiv .parentCard .slds-card .slds-card_narrow{
    border: 1px solid grey !important;
    border-radius:5px !important;
}

.relevanceHeader {
    font-size:13px;
    color: #006dcc !important;
}

.relevanceDiv {
    background-color:rgb(232, 232, 232);
    width:100%;
}

.relevanceDiv p {
    word-wrap: break-word;
}
.iconNameDiv {
    height: 40px;
    line-height: 40px;       
}

.parentCard {
    min-width: 300px;
    
}

.slds-popover__body {
    font-size:12px;
}

.boldText {
    font-weight: bold;
}

.factorsDiv {
    overflow: auto;
    padding-top:1em;
}

.factorsList li{
    color: grey;
    padding: 5px;
}

.commentInput {
    text-align:left;
}

.relevanceDiv {
    padding: 5px;
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 5px;
    color:rgb(91, 90, 90);
}

