.relevanceHeader {
    font-size:12px;
}

.relevanceDiv {
    background-color: lightgray;
}
.iconNameDiv {
    height: 40px;
    line-height: 40px;       
}

.parentCard {
    min-width: 300px;
}

.slds-popover__body {
    font-size:12px;
}

.factorsDiv {
    overflow: auto;
}

.factorsList li{
    color: grey;
    padding: 5px;
}

.commentInput {
    text-align:left;
}

.relevanceDiv {
    padding: 5px;
    margin-right: 20px;
    margin-top: 25px;
}

.iconBlue svg{
    fill: #006dcc !important;
}
