.relevanceHeader {
    font-size:12px;
}
.iconNameDiv {
    height: 40px;
    line-height: 40px;       
}

.parentCard {
    min-width: 300px;
}

.slds-popover__body {
    font-size:12px;
}

.factorsDiv {
    overflow: auto;
    height: 100px;
}

.factorsList li{
    color: grey;
    padding: 5px;
}

.commentInput {
    text-align:left;
}

.relevanceDiv {
    padding: 5px;
    margin-right: 20px;
    border: 1px solid grey;
    border-radius: 2px;
}