.outerDiv {
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    padding:10px;
}

.innerRecDiv {
    margin:5px;
    border: 1px solid grey;
    border-radius:5px;
}

.relevanceHeader {
    font-size:12px;
}
.iconNameDiv {
    height: 40px;
    line-height: 40px;       
}

.slds-popover__body {
    font-size:12px;
}

.factorsDiv {
    overflow: auto;
    height: 100px;
}

.factorsList ul {
    padding: 10px;
}

.factorsList li{
    color: grey;
}

.commentInput {
    text-align:left;
}
.fullRecDiv {
    overflow: hidden;
    display: inline-block;
}

.mapExpansion {
    display: inline-block;
}

.recommendationsDivWide {
    width: 33%;
}

.recommendationsDivNarrow {
    width: 25%;
}

.mapDiv {
    position:relative;
    
}

.mapDivWide {
    width: 67%;
    padding-left:10px;
}

.mapDivNarrow {
    width: 45%;
    padding-left:10px;
}

.filterDiv {
    width: 25%;
}

.mapClose {
    position: absolute;
    top: 10px;
    right: 10px;
    
}